version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend:/var/www/frontend
    depends_on:
      - backend
    restart: always

